body {
    background-color: antiquewhite;
}

li {
  list-style-type: none;
}

.nav {
  padding: 8%;
  width: 12%;
  height: 100%;
  display: inline-block;
  position: fixed;

}

.gallery {
  padding: 1%;
  width: 50%;
  display: inline-block;
  float: left;
}