body {
    background-color: antiquewhite;
}

p {
  margin-block-start: 0;
}

li {
  list-style-type: none;
}

ul {
  padding-inline-start: 0px;
}

.nav {
  padding: 8%;
  width: 12%;
  height: 100%;
  display: inline-block;
  float: left;

}

.fixed-nav {
  position: fixed;
}

.gallery {
  padding: 8%;
  width: 50%;
  display: inline-block;
  float: left;
}