* {
  box-sizing: border-box;
}

body {
    background-color: #665f67;
    margin: 0;
}

p {
  margin-block-start: 0;
  color: #f9e6f9;
}

li {
  list-style-type: none;
}

li:not(:last-child) {
  margin-bottom: 5px;
}

ul {
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
  color: #f9e6f9;
}

a:hover {
  color: #F595F5;
}

.nav {
  padding: 8%;
  height: 100%;
  float: left;

}

.fixed-nav {
  position: fixed;
}

.name-nav {
  font-family: "utopia-std", serif;
  font-weight: 600;
  font-style: italic;
  font-size: 30px;
  padding-bottom: 20px;
}

.menu {
  font-family: "source-sans-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
}

.gallery {
  padding-top: 8%;
  padding-bottom: 8%;
  display: flex;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-cover {
  width: 250px;
}

.thumbnails {
  padding: 10px;
}

@media screen and (max-width: 991px) {
  .name-nav {
    font-size: 60px;
  }

  .menu {
    font-size: 30px;
  }
}